.loginOrUp #resultat .content {
    height: 40px;
    border-left: #58D68D 7px solid;
    background-color: #fafafa;
    margin-bottom: 11px;
}
.loginOrUp #resultat .content p {
    line-height: 40px;
    margin-left: 10px;
}
.loginOrUp #resultat .content.red {
    border-left: #ff3300 7px solid
}
.loginOrUp .bottom .left button {
    border-radius: 0;
}
.loginOrUp .bottom .left a {
    color: #000
}
.loginOrUp .bottom .right button {
    border: none;
    background-color: transparent;
    font-weight: bolder;
    height: 38px
}
.loginOrUp .bottom .right button span {
    background-color: #58D68D;
    color: #FFF;
    padding: 3px 5px
}