
#params .flex-fill {
    width: 200px;
    text-align: right;
    margin-right: 50px;
}

a.nav-link {
    color: #58D68D
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #58D68D;
}

#params #v-pills-home form {
    margin-top: -57px;
    margin-left: -57px;
    opacity: 0;
}

@media(max-width: 991px) {
    #params .flex .row.w-100 {
        flex-direction: column;
        margin-right: 0;
        margin-left: 0;
    }

    #params .flex {
        flex-direction: column
    }

    #params .flex .col-3,
    #params .flex .col-9 {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px
    }

    #params .flex .d-flex.bd-highlight {
        flex-direction: column;
    }

    #params .flex .d-flex.bd-highlight .p-2.flex-fill.bd-highlight {
        width: 100%;
        text-align: center;
        margin-right: initial;
    }
}