
#store .nav-search i {
    position: absolute;
    padding: 10px;
    margin-top: 2px;
    color: #aaabae;
    z-index: 2;
}

.nav-search input {
    background-color: transparent !important;
    padding-left: 30px;
    border-radius: 200px !important;
    -moz-border-radius: 200px !important;
    -webkit-border-radius: 200px 200px 200px 200px !important;
}

#store .product-list-design {
    margin-top: 5%
}

#store .product-list-design .item {
    width: 30%;
    margin-bottom: 5%;
    -webkit-box-shadow: 0 0 48px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 48px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0 0 48px -20px rgba(0, 0, 0, 0.75);
}

#store .product-list-design .item .top {
    transition-duration: 0.3s;
    background-color: #279156;
    display: flex;
    padding: 30px
}

#store .product-list-design .item .top img {
    width: 80%;
    margin: auto;
    transition-duration: 0.3s;
}

#store .product-list-design .item .bottom {
    transition-duration: 0.3s;
    background-color: #FFF;
    text-align: center;
    color: #000;
    padding: 5px 10px;
    height: 60px;
    display: flex;
}

#store .product-list-design .item .bottom p {
    margin: auto;
    font-weight: bolder;
}

#store .product-list-design .item:hover .top {
    transition-duration: 0.3s;
    background-color: #FFF;
}

#store .product-list-design .item:hover .top img {
    transition-duration: 0.3s;
    transform: scale(0.9);
}

#store .product-list-design .item:hover .bottom {
    transition-duration: 0.3s;
    background-color: #279156;
    height: 160px;
    margin-top: -100px;
}

#store .product-list-design .item:hover .bottom p {
    margin: auto auto 13px;
}

@media(max-width: 991px) {
    #store .product-list-design .item {
        width: 90%;
        margin: auto auto 5%;
    }
}

#store .banniere_store {
    height: 300px;
    width: 100%;
}

#store #map {
    height: 600px;
    width: 100%;
}

.tab-pane.fade {
    padding-top: 40px
}

.nav.nav-tabs {
    padding-top: 40px
}

.nav.nav-tabs {
    border: none
}

.nav.nav-tabs li.nav-item a {
    border: none;
    color: #4e4e56;
}

.nav.nav-tabs li.nav-item a.active {
    border: none;
    border-bottom: #58D68D 6px solid
}