/* USER */
main {
    background-color: #f2f2f2;
}

#profil .container.flex {
    justify-content: space-between;
    background-color: #FFF;
}

#profil .container .right .avatar {
    margin-bottom: -200px
}

#profil .container .right .avatar img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -webkit-box-shadow: 0px 0px 78px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 78px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 78px -20px rgba(0, 0, 0, 0.75);
    border: #58D68D 10px solid
}

#profil .container .right .badge {
    height: 200px;
    width: 200px;
}

#profil .container .right .badge .flex {
    margin-left: 1%;
    margin-top: 73%;
}

#profil .container .right .badge div {
    background-color: #58D68D;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    height: 50px;
    width: 50px
}

#profil .container .right .badge div i {
    font-size: 25px;
    color: #FFF
}

#profil .container .left h1 {
    font-weight: bolder;
    font-size: 30px
}

#profil .container .left h2 {
    font-size: 15px
}

#profil .container .left span {
    font-size: 10px;
    font-style: italic;
    display: block;
    margin-bottom: 12px
}

#profil .container .left #btnParametre {
    border-radius: 0;
}

#timeline .container {
    background-color: #FFF;
}

#timeline .container .top h1 {
    font-weight: bolder;
    font-size: 25px
}

#timeline .container .top h1 i {
    color: #58D68D
}

#timeline .container .top p {
    font-size: 13px
}

#timeline .container .bottom {
    padding: 25px 0 0 0
}

#timeline .container .bottom .row .col-5 .nav a.nav-link {
    text-align: center;
    color: #000;
    width: 47%;
    margin-bottom: 6%;
    -webkit-box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
    height: 150px;
    transition-duration: .3s;
    border-bottom: #58D68D 0 solid;
}

#timeline .container .bottom .row .col-5 .nav a.nav-link.active {
    background-color: transparent;
    border-bottom: #58D68D 7px solid;
    transition-duration: .1s;
}

#timeline .container .bottom .row .col-5 .nav a.nav-link:hover {
    transform: scale(.95);
}

#timeline .container .bottom .row .col-5 .nav a.nav-link:focus {
    transform: scale(.95);
}

#timeline .container .bottom .row .col-5 .nav a.nav-link span {
    width: 100%;
    display: block;
    color: #58D68D;
    text-align: center;
}

#timeline .container .bottom .col-7 .produit-list-design.active {
    display: flex;
    min-height: 322px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#timeline .container .bottom .col-7 .produit-list-design .item {
    min-width: calc(100vw / 4.5);
    margin: auto 5%;
    -webkit-box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
}

#timeline .container .bottom .col-7 .produit-list-design .item .top {
    transition-duration: .3s;
    background-color: #58D68D;
    display: flex;
    padding: 30px
}

#timeline .container .bottom .col-7 .produit-list-design .item .top img {
    width: 80%;
    margin: auto;
    transition-duration: .3s;
}

#timeline .container .bottom .col-7 .produit-list-design .item .bottom {
    transition-duration: .3s;
    background-color: #FFF;
    text-align: center;
    color: #000;
    padding: 5px 10px;
    height: 60px;
    display: flex;
}

#timeline .container .bottom .col-7 .produit-list-design .item .bottom p {
    margin: auto;
    font-weight: bolder;
}

#timeline .container .bottom .col-7 .produit-list-design .item:hover .top {
    transition-duration: .3s;
    background-color: #FFF;
}

#timeline .container .bottom .col-7 .produit-list-design .item:hover .top img {
    transition-duration: .3s;
    transform: scale(0.9);
}

#timeline .container .bottom .col-7 .produit-list-design .item:hover .bottom {
    transition-duration: .3s;
    background-color: #58D68D;
    height: 160px;
    margin-top: -100px;
}

#timeline .container .bottom .col-7 .produit-list-design .item:hover .bottom p {
    margin: auto auto 13px auto;
}

#timeline .container .bottom .col-7 #v-rs.active {
    min-height: 322px;
    width: 100%;
    display: flex !important
}

#timeline .container .bottom .col-7 #v-rs i {
    font-size: 30px;
    color: #58D68D
}

/* RESPONSIVE USER */
@media(max-width: 991px) {
    #profil .p-4.flex.container {
        flex-direction: column;
        padding: 0 !important
    }

    #profil .p-4.flex.container .left {
        padding: 1.5rem !important
    }

    #profil .p-4.flex.container .right img {
        border: none;
        width: 100%;
        height: 100%;
        border-radius: 0 0 25px 25px;
    }

    #timeline .container .bottom .row {
        flex-direction: column;
    }

    #timeline .container .bottom .row .col-5 {
        max-width: 100%
    }

    #timeline .container .bottom .row .col-7 {
        max-width: 100%
    }

    #timeline .container .bottom .col-7 .produit-list-design.active {
        height: 275px;
        padding-left: 18px;
        padding-right: 18px
    }

    #timeline .container .bottom .col-7 .produit-list-design .item {
        min-width: calc(100vw / 1.2) !important
    }

    #timeline .container .bottom .col-7 #v-rs.active {
        min-height: 100px !important
    }
}