{% extends 'admin/base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<section id="panel" class="flex">
    <div class="margin-auto">
        <h1>Bienvenue <strong>{{ app.user.username }}</strong> !</h1>
        <h3>Veuillez selectionner un menu pour commencer :).</h3>
    </div>
</section>
{% endblock %}