{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Être végétarien!{% endblock %}

{% block body %}
	<section id="PasswordForgot" class="container paddingSeperateur">
		<div class="shadow-1 rond-2 p-4">
			<div class="top">
				<h1>
					Mot de passe oublié
				</h1>
			</div>
			<div class="middle">
				<div id="resultat"></div>
				<div class="form-group">
					<label for="email">Mot de passe</label>
					<input type="password" class="form-control" id="password" placeholder="Votre mot de passe" required>
				</div>
			</div>
			<div class="bottom flex flex-between">
				<div class="left">
					<button id="btnChange" type="button" class="btn btn-primary mr-1">Changer</button>
				</div>
				<div
					class="right mtb-auto">
				</div>
			</div>
		</div>
	</section>
	<script>
	$(document).ready(function() {
        $("#btnChange").click(function(e) {
            if ($("#password").val().length !== 0) {
                e.preventDefault();
                $.post("{{ path('passwordForgotChange') }}", {
                    password: $("#password").val(),
                    code: {{ code }},
                    csrfData: "{{ csrf_token('password-forgot') }}"
                }, function(data) {
                    $("#resultat").html("<div class='content'><p>" + data.message + "</p></div>");
					window.location.replace("{{ path('connexion') }}");
                }, 'json').fail(function(data) {console.log(data.responseJSON)});
            } else {
                $("#resultat").html("<div class='content red'><p>Veuillez remplir tout les champs !</p></div>");
            }
        });
    });
	</script>
{% endblock %}
