{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Être végétarien!{% endblock %}

{% block body %}
	<section id="PasswordForgot" class="container paddingSeperateur">
		<div class="shadow-1 rond-2 p-4">
			<div class="top">
				<h1>
					Mot de passe oublié
				</h1>
			</div>
			<div class="middle">
				<div id="resultat"></div>
				<div class="form-group">
					<label for="email">E-mail</label>
					<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Votre e-mail" required>
					<small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre email avec quelqu'un
						                    d'autre.</small>
				</div>
			</div>
			<div class="bottom flex flex-between">
				<div class="left">
					<button id="btnPasswordForgot" type="button" class="btn btn-primary mr-1">Envoyer</button>
					-
					<a href="{{ path('connexion') }}" class="cds">Se connecter</a>
				</div>
				<div
					class="right mtb-auto">{# <button id="btnPasswordForgotRapide"><i class="fad fa-user-secret"></i> PasswordForgot anonyme
						                    <span>News</span></button> #}
				</div>
			</div>
		</div>
	</section>
	<script>
	$(document).ready(function() {
        $("#btnPasswordForgot").click(function(e) {
            if ($("#email").val().length !== 0) {
                e.preventDefault();
                $.post("{{ path('passwordForgot') }}", {
                    email: $("#email").val(),
                    csrfData: "{{ csrf_token('password-forgot') }}"
                }, function(data) {
                    $("#resultat").html("<div class='content'><p>" + data.message + "</p></div>");
                }, 'json').fail(function(data) {console.log(data.responseJSON)});
            } else {
                $("#resultat").html("<div class='content red'><p>Veuillez remplir tout les champs !</p></div>");
            }
        });
    });
	</script>
{% endblock %}
