{% extends 'base.html.twig' %}

{% block title %}Connexion - Être végétarien sur Limoges{% endblock %}

{% block stylesheets %}
<link href="{{ asset('/css/inscription.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<section id="inscription" class="container paddingSeperateur">
    <div class="shadow-1 rond-2 p-4">
        <div class="top">
            <h1>
                Inscription
            </h1>
        </div>
        <div class=middle>
            <div class="form-group">
                <label for="pseudonyme">Pseudonyme</label>
                <input type="text" class="form-control" id="pseudonyme" placeholder="Votre pseudonyme">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Votre e-mail">
                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons jamais votre email avec quelqu'un d'autre.</small>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" class="form-control" id="password" placeholder="Votre mot de passe">
            </div>
        </div>
        <div class="bottom flex flex-between">
            <div class="left">
                <button id="btnInscription" type="button" class="btn btn-primary mr-1">S'inscrire</button> - <a href="/connexion">Connexion</a>
            </div>
            <div class="right mtb-auto">
                <button id="btnInscriptionRapide"><i class="fad fa-user-secret"></i> Inscription anonyme <span>News</span></button>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function(){
        $("#btnMessage").click(function(e){
            e.preventDefault();
            $.post(
                '/ajax/contact',
                {
                    nom : $("#nom").val(),
                    email : $("#email").val(),
                    telephone : $("#telephone").val(),
                    message : $("#message").val()
                },
                function(data){
                    if(data == '["Success"]'){
                        $("#resultat").html("<p>Votre message à bien été envoyer, merci !</p>");
                    }
                    else{
                        $("#resultat").html("<p>Erreur lors de l'envoi du message...</p>");
                        console.log(data)
                    }
                },
                'text'
            );
        });
    });
</script>
{% endblock %}