{% extends 'base.html.twig' %}

{% block title %}Stores - Être Végétarien!{% endblock %}

{% block body %}
<style>
    #stores .nav-search i {
        position: absolute;
        padding: 10px;
        margin-top: 2px;
        color: #aaabae;
        z-index: 2;
    }

    .nav-search input {
        background-color: transparent !important;
        padding-left: 30px;
        border-radius: 200px !important;
        -moz-border-radius: 200px !important;
        -webkit-border-radius: 200px 200px 200px 200px !important;
    }

    #stores .produit-list-design {
        margin-top: 5%
    }

    #stores .produit-list-design .item {
        width: 30%;
        margin-bottom: 5%;
        -webkit-box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 48px -20px rgba(0, 0, 0, 0.75);
    }

    #stores .produit-list-design .item .top {
        transition-duration: .3s;
        background-color: #58D68D;
        display: flex;
        padding: 30px
    }

    #stores .produit-list-design .item .top img {
        width: 80%;
        margin: auto;
        transition-duration: .3s;
    }

    #stores .produit-list-design .item .bottom {
        transition-duration: .3s;
        background-color: #FFF;
        text-align: center;
        color: #000;
        padding: 5px 10px;
        height: 60px;
        display: flex;
    }

    #stores .produit-list-design .item .bottom p {
        margin: auto;
        font-weight: bolder;
    }

    #stores .produit-list-design .item:hover .top {
        transition-duration: .3s;
        background-color: #FFF;
    }

    #stores .produit-list-design .item:hover .top img {
        transition-duration: .3s;
        transform: scale(0.9);
    }

    #stores .produit-list-design .item:hover .bottom {
        transition-duration: .3s;
        background-color: #58D68D;
        height: 160px;
        margin-top: -100px;
    }

    #stores .produit-list-design .item:hover .bottom p {
        margin: auto auto 13px auto;
    }

    @media(max-width: 991px) {
        #stores .produit-list-design .item {
            width: 90%;
            margin: auto;
            margin-bottom: 5%
        }

        #stores .nav-search {
            width: 80%;
            margin-left: 10%
        }
    }
</style>
<section id="stores" class="container paddingSeperateur">
    <div class="input-group nav-search">
        <i class="fas fa-search"></i>
        <input type="text" name="search" class="form-control" placeholder="Rechercher un store" value="">
    </div>
    <div class="produit-list-design flex flex-wrap flex-between">
        {% for store in stores %}
        <div class="item">
            <a href="{{ path('store_show', {'id': store.id}) }}">
                <div class="top">
                    <img alt="{{ store.nom }}" src="{{ store.image }}" />
                </div>
                <div class="bottom">
                    <p>{{ store.nom }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
{% block javascript %}
<script>
    i = 0;
    $(document).ready(function () {
        $('[name="search"]').keypress(function (e) {
            $.getJSON("/stores/search?search=" + $('[name="search"]').val())
                .then((stores) => {
                    $('.produit-list-design').html("")
                    if (stores.length == 0) {
                        $('.produit-list-design').html("<p class='margin-auto'>Aucun restaurant trouvé</p>")
                    }
                    stores.forEach((store) => {
                        $(".produit-list-design").append('<a class="item" href="/store/' + store.id + '"><div class= "top"><img alt="' + store.nom + '" src="' + store.image + '" /></div><div class="bottom"><p>' + store.nom + '</p></div></a>')
                    })
                });
        });
    });
</script>
{% endblock %}